@import "tailwindcss";

@theme {
  /* For body and nav bar */
  --font-sans: "Inter", system-ui, sans-serif;
  /* For hero page and all headings */
  --font-display: "Manrope", system-ui, sans-serif;

  --font-quote: Georgia, serif;

  --breakpoint-xs: 30rem;

  --color-bg: theme(colors.neutral.50);

  --color-primary: theme(colors.neutral.900);
  --color-secondary: theme(colors.neutral.700);
  --color-muted: theme(colors.neutral.500);
  --color-accent: theme(colors.sky.400);
  --color-complement: theme(colors.emerald.400);

  --color-link: theme(colors.slate.700);
  --color-link-hover: theme(colors.slate.900);
}

@layer base {
  body,
  a {
    @apply font-sans;
  }

  body {
    color: var(--color-primary);
    background-color: var(--color-bg);
    @apply text-base;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-primary);
    @apply font-display;
  }

  h1 {
    @apply text-3xl font-extrabold sm:text-4xl;
  }

  h2 {
    @apply text-2xl font-bold sm:text-3xl;
  }

  h3 {
    @apply text-xl font-semibold sm:text-2xl;
  }

  h4 {
    @apply text-lg font-medium sm:text-xl;
  }

  p {
    color: var(--color-secondary);
  }

  li {
    color: var(--color-secondary);
  }

  a {
    color: var(--color-link);
  }

  a:hover {
    color: var(--color-link-hover);
  }

  :root {
    --tw-ring-color: var(--color-accent);
  }

  :focus-visible {
    outline: none;
    @apply ring-2 rounded-xs;
  }
}
